@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #60a9ff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
h2 {
    margin: 25px 0 35px;
}
#mainNav {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
.panel {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 960px;
    border-radius: 10px;
    padding: 15px 25px;
}
.pricing-img {
    width: 100%;
    height: auto;
}
.pricing-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px #e1f1ff;
}
.pricing-header {
    color: #888;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 1px;
}
.pricing-features {
    width: 100%;
}
.pricing-features-item {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.7em;
    font-weight: 600;
    color: #016ff9;
    padding: 15px 0;       
    border-top: solid 1px #e1f1ff;
}
.pricing-features-item:nth-of-type(2) {
    border-bottom: solid 1px #e1f1ff;
}
.pricing-price {
    color: #016ff9;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 20px;
}
.pricing-button {
    color: #348efe;
    text-transform: uppercase;
    padding: 10px 35px;
    border: solid 1px #9dd1ff;
    border-radius: 5px;
    transition: 200ms ease-in-out ;
    margin: 20px;
}
.is-featured{
    background-color: #348efe;
    color: white;
}
.pricing-button:hover{
    background-color: #e1f1ff;
}
.is-featured:hover{
    background-color: #60a9ff;
}
@media (min-width: 900px) {
    .panel {
        flex-direction: row;
        justify-content: center;
    }
    .pricing-plan {
        padding: 0 50px;
        border-bottom: 0;
        border-right: solid 1px #e1f1ff;
    }
    .pricing-plan:last-child{
        border-right: 0;
    }
}
